<div class="g-slider2">
	<div class="g-slider2__pics">
		<img g-slider2__pics src="./svg/mainblock/slider.svg" alt="" class="">
		<img g-slider2__pics src="./svg/mainblock/slider-blue.svg" alt="" class="">
		<img g-slider2__pics src="./svg/mainblock/slider-red.svg" alt="" class="">
		<img g-slider2__pics src="./svg/mainblock/slider-orange.svg" alt="" class="">
	</div>
	<div class="g-slider2__routing">
		<button onclick="o2.second_sldier.left(this)" class="g-slider2__routing-btn g-slider2__left"> <div class="g-slider2__routing-btn--pic"><img src="./svg/mainblock/slider-left.svg" alt=""></div></button>
		<button onclick="o2.second_sldier.right(this)" class="g-slider2__routing-btn"> <div class="g-slider2__routing-btn--pic g-slider2__right"><img src="./svg/mainblock/slider-right.svg" alt=""></div></button>
	</div>
	<div class="g-slider2__btns">
		<button onclick="o2.second_sldier.move(this)" class="g-slider2__btns-item"></button>
		<button onclick="o2.second_sldier.move(this)" class="g-slider2__btns-item"></button>
		<button onclick="o2.second_sldier.move(this)" class="g-slider2__btns-item"></button>
		<button onclick="o2.second_sldier.move(this)" class="g-slider2__btns-item"></button>
	</div>
</div>
