<main class="mainblock">
	{% include '@blocks/g-slider2/g-slider2.twig' %}
	<div class="mainblock-daybook">
		<div class="mainblock-daybook__toptext">
			<h2 class="mainblock-daybook__toptext-start">Книга дня</h2>
			<h2 class="mainblock-daybook__toptext-end">08:56:31</h2>
		</div>
		<img src="./img/daybook.jpg" alt="" class="mainblock-daybook__pic">
		<div class="mainblock-daybook__bottext">
			<h2 class="mainblock-daybook__bottext-title">Корпоративное право</h2>
			<h2 class="mainblock-daybook__bottext-name">Инвестирование: способы, риски, субъекты : монография</h2>
			<h2 class="mainblock-daybook__bottext-author">Майфат А.В.</h2>
			<h2 class="mainblock-daybook__bottext-price">4 450 ₽</h2>
		</div>
		<div class="mainblock-daybook__btns">
			<button class="mainblock-daybook__btns-item"><img src="./svg/mainblock/shoping.svg" alt=""> <h2>В корзину</h2></button>
			<button class="mainblock-daybook__btns-item"><img src="./svg/mainblock/zakladka.svg" alt=""></button>
		</div>
	</div>
	<div class="mainblock-promotion container">
		<img src="./svg/mainblock/dilivery_bg.svg" alt="" class="mainblock-promotion__bg">
		<h2 class="mainblock-promotion__text">Бесплатно доставим ваш заказ при покупке от 2000 ₽</h2>
		<img src="./img/dilivery.png" alt="" class="mainblock-promotion__pic">
	</div>
	<div class="mainblock-promotion container">
		<h2 class="mainblock-promotion__text2">Скидка <br> при регистрации <br>до 15%</h2>
		<img src="./svg/mainblock/kaef_bg.svg" alt="" class="mainblock-promotion__bg2">
		<img src="./img/kaef.png" alt="" class="mainblock-promotion__pic">
	</div>
</main>