/* mixins */
@import 'base/mixins.scss';

/* base */
@import 'base/fonts';
@import 'base/variables';
@import 'base/normalize';
@import 'base/typography';
@import 'base/default';

/* blocks */
@import '@b/g-select/g-select.scss';
@import '@b/g-input/g-input.scss';
@import '@b/g-checkbox/g-checkbox.scss';
@import '@b/g-button/g-button.scss';
@import '@b/g-radio/g-radio.scss';
@import '@b/g-slider1/g-slider1.scss';
@import '@b/g-slider2/g-slider2.scss';
@import '@b/header/header.scss';
@import '@b/mainblock/mainblock.scss';
@import '@b/books/books.scss';
@import '@b/discount/discount.scss';
@import '@b/advantages/advantages.scss';
@import '@b/news/news.scss';
@import '@b/footer/footer.scss';
/* @import 'blocks/component/component'; */

/* pages */
/* @import 'index'; */


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
html
{
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	-webkit-font-smoothing: antialiased;
}
body
{
	background-color:  #F9F9FA;
}