<aside class="news">
    <div class="news-wraper">
       <div class="news-top">
		 	<h2 class="news-top__text">Новости</h2>
			<div class="news-top__btns">
		    	<button class="news-top__btns-item"> <img src="./svg/books/strelka<.svg" alt=""> </button>
				<button class="news-top__btns-item--mod"> <img src="./svg/books/strelka>.svg" alt=""> </button>
			</div>
	   </div>
	   <div class="news-blcok">
		   <div id="news-content__first" class="news-content">
		     <img src="./img/news.jpg" alt="" class="news-content__pic">
		   	 <div class="news-content__text">
		   		 <h2 class="news-content__text-date">16 июня 2020</h2>
		   		 <h2 class="news-content__text-event">Бесплатный онлайн-семинар. Доктрина <br> stare decisis: борьба за прецедент в рос...</h2>
		   		 <h2 class="news-content__text-about">18 июня в «Клубе цивилистов» пройдет <br> бесплатный онлайн-семинар по проблематике <br> судебного прецедента. Мероприятие приуроч...</h2>
		   	  </div>
		   	  <button class="news-content__btn">Читать</button>
		   </div>
		   <div id="news-content__second" class="news-content">
		     <img src="./img/news-2.jpg" alt="" class="news-content__pic">
		   	 <div class="news-content__text">
		   		 <h2 class="news-content__text-date">16 июня 2020</h2>
		   		 <h2 class="news-content__text-event">Бесплатный онлайн-семинар. Доктрина <br> stare decisis: борьба за прецедент в рос...</h2>
		   		 <h2 class="news-content__text-about">18 июня в «Клубе цивилистов» пройдет <br> бесплатный онлайн-семинар по проблематике <br> судебного прецедента. Мероприятие приуроч...</h2>
		   	  </div>
		   	  <button class="news-content__btn">Читать</button>
		   </div>
		   <div class="news-content">
		     <img src="./img/news-3.jpg" alt="" class="news-content__pic">
		   	 <div class="news-content__text">
		   		 <h2 class="news-content__text-date">16 июня 2020</h2>
		   		 <h2 class="news-content__text-event">Бесплатный онлайн-семинар. Доктрина <br> stare decisis: борьба за прецедент в рос...</h2>
		   		 <h2 class="news-content__text-about">18 июня в «Клубе цивилистов» пройдет <br> бесплатный онлайн-семинар по проблематике <br> судебного прецедента. Мероприятие приуроч...</h2>
		   	  </div>
		   	  <button class="news-content__btn">Читать</button>
		   </div>
	   </div>
	   <button class="news-btn">Показать все новости</button>
    </div>
</aside>