<footer class="footer">
	<div class="footer-top--cont">
		<div class="footer-top">
			<div class="footer-social footer-social--mobile">
				<img src="./svg/footer/facebook.svg" alt="" class="footer-social__pic">
				<img src="./svg/footer/vk.svg" alt="" class="footer-social__pic">
				<img src="./svg/footer/inst.svg" alt="" class="footer-social__pic">
			</div>
			<div class="footer-social footer-social--desktop">
				<img src="./svg/footer/facebook-dark.svg" alt="" class="footer-social__pic">
				<img src="./svg/footer/inst-dark.svg" alt="" class="footer-social__pic">
				<img src="./svg/footer/twit-dark.svg" alt="" class="footer-social__pic">
			</div>
			<div class="footer-social__logo-desktop"><img src="./svg/footer/logo.svg" alt="" class="footer-subscirbe__logo"></div>
			<div class="footer-subscribe">
				<div class="footer-social__logo-mobile"><img src="./svg/footer/logo.svg" alt="" class="footer-subscirbe__logo"></div>
				<form action="" class="footer-form footer-form--desktop">
					<input placeholder="Введите свой Email и получите скидку" type="text" class="footer-form__input">
					<button class="footer-form__btn"><img src="./svg/footer/tg.svg" alt=""></button>
				</form>
				<form action="" class="footer-form footer-form--mobile">
					<input placeholder="Подписаться на рассылку" type="text" class="footer-form__input">
					<button class="footer-form__btn"><img src="./svg/footer/tg.svg" alt=""></button>
				</form>
			</div>
		</div>
	</div>
	<div class="footer-nav--cont">
		<nav class="footer-nav">
			<ul class="footer-nav__menu">
				<li class="footer-nav__menu-item">
					<h2 class="footer-nav__menu-title">Покупателям</h2>
					<a href="#" class="footer-nav__menu-subtitle">Наша почта</a>
					<a href="#" class="footer-nav__menu-subtitle">Оплата и доставка</a>
					<a href="#" class="footer-nav__menu-subtitle">Вопросы и ответы</a>
					<button class="footer-nav__menu-btn"><img src="./svg/footer/vniz.svg" alt=""> </button>
				</li>
				<li class="footer-nav__menu-item"> 
					<h2 class="footer-nav__menu-title">Издательство</h2>
					<a href="#" class="footer-nav__menu-subtitle">О компании</a>
					<a href="#" class="footer-nav__menu-subtitle">Авторам</a>
					<a href="#" class="footer-nav__menu-subtitle">Вакансии</a>
					<a href="#" class="footer-nav__menu-subtitle">Контакты</a>
					<button class="footer-nav__menu-btn"><img src="./svg/footer/vniz.svg" alt=""></button>
				</li>
				<li class="footer-nav__menu-item">
					<h2 class="footer-nav__menu-title">Книги</h2> 
					<a href="#" class="footer-nav__menu-subtitle">Все категории</a>
					<a href="#" class="footer-nav__menu-subtitle">Бестселлеры</a>
					<a href="#" class="footer-nav__menu-subtitle">Новинки</a>
					<a href="#" class="footer-nav__menu-subtitle">Скидки и акции</a>
					<button class="footer-nav__menu-btn"><img src="./svg/footer/vniz.svg" alt=""></button>
				</li>
				<li class="footer-nav__menu-item">
					<h2 class="footer-nav__menu-title">Прайс-лист</h2>
					<div class="footer-nav__menu-file">
						<img src="./svg/footer/file.svg" alt="">
						<h2>Скачать прайс-лист <br> <p>PDF, 12 Mb</p></h2>
					</div>
					<button class="footer-nav__menu-btn"><img src="./svg/footer/vniz.svg" alt=""></button>
				</li>
				<li class="footer-nav__menu-item footer-nav__menu-item--desktop">
					<h2 class="footer-nav__menu-title">Телефон и Email</h2>
				    <div><img src="./svg/footer/mail.svg" alt=""><a href="mailto:market@estatut.ru" class="footer-nav__menu-link">market@estatut.ru</a></div>
				    <div><img src="./svg/footer/tel.svg" alt=""><a href="tel:8 (968) 660-65-50" class="footer-nav__menu-link">8 (968) 660-65-50</a></div>
				</li>
			</ul>
			<ul class="footer-nav__bot footer-nav__menu">
				<li class="footer-nav__menu-link--mod"><a href="#">Политика конфиденциальности</a><a class="footer-nav__menu-text--mobile" href="#" >Договор оферты</a></li>
				<li class="text--mobile"><a href="#" >Договор оферты</a></li>
				<li class="footer-nav__menu-link--mobile" ><img src="./svg/footer/tel.svg" alt=""><a href="tel:8 (968) 660-65-50" class="footer-nav__menu-link">8 (968) 660-65-50</a><img src="./svg/footer/info.svg" alt=""></li>
				<li class="footer-nav__menu-link--mobile" ><img src="./svg/footer/mail.svg" alt=""><a href="mailto:market@estatut.ru" class="footer-nav__menu-link">market@estatut.ru</a></li>
				<li><img class="footer-nav__menu-pic" src="./svg/footer/geo.svg" alt=""><a href="#" class="footer-nav__menu-link">ул. Лобачевского, 92, корп. 2 119454, г. Москва</a></li>
				<li><h2 class="footer-nav__menu-text--mod">© 2020 Издательство «Статут»</h2></li>
			</ul>
		</nav>
	</div>
</footer>