<article class="books">
	<div class="books-wraper">
			<div class="books-top">
	     		<h2 class="books-top__text">{{ title }}</h2>
	     			<div class="books-top__btns">
	        			<button class="books-top__btns-item"> <img src="./svg/books/strelka<.svg" alt=""> </button>
	     				<button class="books-top__btns-item--mod"> <img src="./svg/books/strelka>.svg" alt=""> </button>
	     			</div>
			</div>
	    	<div class="books-content">
	     		<div class="books-content__block">
	     			<div class="books-content__block-pic">
	     				<span class="books-content__block-pic--text">1+1=3</span>
	     				<img src="./img/book.png" alt="">
     					<span class="books-content__block-pic--text block-pic__text-after">Бестселлер</span>
	     			</div>
		     		<div class="books-content__block-text">
		     			<h2 class="books-content__block-text--title">Корпаративное Право</h2>
		     			<h2 class="books-content__block-text--name">Инвестирование: <br class="block-text"> способы, риски, <br> субъекты : монография</h2>
		     			<h2 class="books-content__block-text--author">Майфат А.В.</h2>
						<h2 class="books-content__block-text--price">4 450 ₽</h2>
		    	 	</div>
		    	 	<div class="books-content__block-rate--wrap">
 		     			<div id="block-rate__swag" class="books-content__block-rate block-rate__swag">
 		     				<div class="books-content__block-rate--svg books-content__block-rate--swag">{% include '@assets/svg/books/star.svg' %}</div>4.9
	     				</div>
	     				<div class="books-content__block-rate rate-mod">
	     					<img src="./svg/books/like.svg" alt=""> 89% рекомендуют
	     				</div>
		    	 	</div>
	     			<div class="books-content__block-btns">
	     	    		<button class="books-content__block-btns-item btns-cart"><img src="./svg/mainblock/shoping.svg" alt=""> В корзину</button>
			    		<button class="books-content__block-btns-item"><img src="./svg/mainblock/zakladka.svg" alt=""></button>
	     			</div>
	     		</div>
	     		<div class="books-content__block" id="books-block--2">
	     			<div class="books-content__block-pic">
	     				<span class="books-content__block-pic--text block-pic__text-new">Новинка</span>
	     				<img src="./img/book-new.png" alt="">
	     			</div>
		     		<div class="books-content__block-text">
		     			<h2 class="books-content__block-text--title">Договрное Право</h2>
		     			<h2 class="books-content__block-text--name">Договор коммерческой концессии (франчайзинг). Граж...</h2>
		     			<h2 class="books-content__block-text--author">Багдасарян А.Ф.</h2>
						<h2 class="books-content__block-text--price">372 ₽</h2>
		    	 	</div>
		    	 	<div class="books-content__block-rate--wrap">
 		     			<div class="books-content__block-rate">
 		     				<div class="books-content__block-rate--svg">{% include '@assets/svg/books/star.svg' %}</div>4.9
	     				</div>
	     				<div class="books-content__block-rate rate-mod">
	     					<img src="./svg/books/like.svg" alt=""> 89% рекомендуют
	     				</div>
		    	 	</div>
	     			<div class="books-content__block-btns">
	     	    		<button class="books-content__block-btns-item btns-cart"><img src="./svg/mainblock/shoping.svg" alt=""> В корзину</button>
			    		<button class="books-content__block-btns-item"><img src="./svg/mainblock/zakladka.svg" alt=""></button>
	     			</div>
	     		</div>
	     		<div class="books-content__block" id="books-block--3">
	     			<div class="books-content__block-pic">
	     				<img src="./img/book3.png" alt="">
	     			</div>
		     		<div class="books-content__block-text">
		     			<h2 class="books-content__block-text--title">Корпаративное Право</h2>
		     			<h2 class="books-content__block-text--name">Договор коммерческой <br> концессии (франчайзинг). Граж...</h2>
		     			<h2 class="books-content__block-text--author">Башлаков-Николаев И.В.</h2>
						<div class="books-content__block-text--priceblock">
							<h2 class="books-content__block-text--price price-red">984 ₽</h2>
							<h2 class="books-content__block-text--discount">1 284 ₽</h2>
							<h2 class="books-content__block-text--profit">Выгода 300 ₽</h2>
						</div>
		    	 	</div>
		    	 	<div class="books-content__block-rate--wrap">
 		     			<div class="books-content__block-rate">
 		     				<div class="books-content__block-rate--svg">{% include '@assets/svg/books/star.svg' %}</div>4.9
	     				</div>
	     				<div class="books-content__block-rate rate-mod">
	     					<img src="./svg/books/like.svg" alt=""> 89% рекомендуют
	     				</div>
		    	 	</div>
	     			<div class="books-content__block-btns">
	     	    		<button class="books-content__block-btns-item btns-cart"><img src="./svg/mainblock/shoping.svg" alt=""> В корзину</button>
			    		<button class="books-content__block-btns-item"><img src="./svg/mainblock/zakladka.svg" alt=""></button>
	     			</div>
	     		</div>
	     		<div class="books-content__block">
	     			<div class="books-content__block-pic">
	     				<span class="books-content__block-pic--text">1+1=3</span>
	     				<img src="./img/book.png" alt="">
     					<span class="books-content__block-pic--text block-pic__text-after">Бестселлер</span>
	     			</div>
		     		<div class="books-content__block-text">
		     			<h2 class="books-content__block-text--title">Корпаративное Право</h2>
		     			<h2 class="books-content__block-text--name">Инвестирование: <br> способы, риски, <br> субъекты : монография</h2>
		     			<h2 class="books-content__block-text--author">Майфат А.В.</h2>
		     			<h2 class="books-content__block-text--price">450 ₽</h2>
		    	 	</div>
		    	 	<div class="books-content__block-rate--wrap">
 		     			<div id="block-rate__xxx" class="books-content__block-rate block-rate__swag">
 		     				<div id="block-rate__swag" class="books-content__block-rate--svg books-content__block-rate--swag">{% include '@assets/svg/books/star.svg' %}</div>4.9
	     				</div>
	     				<div class="books-content__block-rate rate-mod">
	     					<img src="./svg/books/like.svg" alt=""> 89% рекомендуют
	     				</div>
		    	 	</div>
	     			<div class="books-content__block-btns">
	     	    		<button class="books-content__block-btns-item btns-cart"><img src="./svg/mainblock/shoping.svg" alt=""> В корзину</button>
			    		<button class="books-content__block-btns-item"><img src="./svg/mainblock/zakladka.svg" alt=""></button>
	     			</div>
	     		</div>
	     	</div>
	     	<a href="#" class="books-btn">Показать все книги раздела</a>
	</div>
</article>