<div class="g-slider1">
	<div class="g-slider1__routing">
		<button id="g-slider1__left" class="g-slider1__routing-btn"> <div class="g-slider1__routing-btn--pic"><img src="./svg/mainblock/slider-left.svg" alt=""></div></button>
		<button id="g-slider1__right" class="g-slider1__routing-btn"> <div class="g-slider1__routing-btn--pic"><img src="./svg/mainblock/slider-right.svg" alt=""></div></button>
	</div>
	<div class="g-slider1__btns">
		<button class="g-slider1__btns-item"></button>
		<button class="g-slider1__btns-item"></button>
		<button class="g-slider1__btns-item"></button>
		<button class="g-slider1__btns-item"></button>
	</div>
</div>
