<article class="discount">
	<div class="discount-container">
		<h2 class="discount-text">Скидка 200 ₽ при подписке <br> на рассылку Издательства </h2>
		<img class="discount-text--bg" src="./svg/before.svg" alt="">
		<form action="" class="discount-form">
			<input type="text" placeholder="Введите ваш Email" class="discount-form__input">
			<button class="discount-form__btn">Подписаться</button>
		</form>
	</div>
</article>