<article class="advantages">
	<div class="advantages-wraper">
		<div class="advantages-block">
			<img src="./svg/advantages/clock.svg" alt="" class="advantages-block__pic">
			<div class="advantages-block__text">
				<h2 class="advantages-block__text-title">Быстрая доставка</h2>
				<h2 class="advantages-block__text-subtitle">Доставим бесплатно <br class="pxp"> от 2000 ₽ <br> по всей России</h2>
			</div>
		</div>
		<div class="advantages-block">
			<img src="./svg/advantages/star.svg" alt="" class="advantages-block__pic">
			<div class="advantages-block__text">
				<h2 class="advantages-block__text-title">Бонусная программа</h2>
				<h2 class="advantages-block__text-subtitle">Дополнительная скидка <br class="pxp"> 15% <br> при регистрации</h2>
			</div>
		</div>
		<div class="advantages-block">
			<img src="./svg/advantages/shoping.svg" alt="" class="advantages-block__pic">
			<div class="advantages-block__text">
				<h2 class="advantages-block__text-title">Большой выбор</h2>
				<h2 class="advantages-block__text-subtitle">Ежегодно выходит в свет <br class="pxp"> более <br> 100 наименований книг</h2>
			</div>
		</div>
		<div class="advantages-block">
			<img src="./svg/advantages/card.svg" alt="" class="advantages-block__pic">
			<div class="advantages-block__text">
				<h2 class="advantages-block__text-title">Безопасная оплата</h2>
				<h2 class="advantages-block__text-subtitle">Плати безопасно и легко <br> <br class="pxp"> онлайн на нашем сайте</h2>
			</div>
		</div>

	</div>
</article>